@import './variables';
@import './starts';

* {
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: #f3f3f3 1px solid;
  border-radius: 5px;
  box-sizing: border-box;

  &__image {
    width: 160px;
    height: 134px;
    background-image: url(../images/imac.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 40px;

    margin-top: 32px;
  }
  &__text {
    width: 166px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__title {
    margin-bottom: 4px;
    color: $main-accent;
  }

  &__code {
    margin-bottom: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary;
  }

  &__button {
    background-color: $blue-accent;
    border-radius: 5px;
    width: 166px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-bottom: 16px;

    align-items: center;

    color: #fff;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    &:hover {
      color: $blue-accent;
      background-color: #fff;
      border: 1px $blue-accent solid;
      box-sizing: border-box;
    }
  }

  &__price-box {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    width: 166px;
  }

  &__price-label {
    color: $secondary;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &__price-value {
    margin-left: 85px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
}
